@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;
  --color-primary: #c9ea59;
}
body {
  background-image: url(/bg.png);
  background-color: rgba(0, 0, 0, 0.9);
  background-blend-mode: darken;
  color: white;
  font-family: "Manrope", sans-serif;
}
.marquee {
  overflow: hidden;
  width: 100%;
}

.marquee__track {
  display: flex;
  width: max-content;
  animation: marquee 45s linear infinite;
}

.marquee__item {
  flex-shrink: 0;
  padding: 0 1.5rem;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
